# Archivos y carpetas de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
.vscode/
.idea/

# Entornos virtuales
venv/
env/
*.venv

# Archivos de dependencias innecesarios
Pipfile
Pipfile.lock
poetry.lock

# Configuración de Jupyter Notebook
.ipynb_checkpoints/

# Archivos de Docker
*.pid
docker-compose.override.yml

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de caché y logs
logs/
*.log

data/